@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

:root {
    --cor-primaria: #092635;
    --cor-secundaria: #c8f8e6;
    --cor-terciaria: #56ac8b;
    --cor-hover: #1B4242;

    --font-primaria: "Krona One", sans-serif;
    --font-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 18%;
}

.cabecalho_menu {
    display: flex;
    gap: 80px;
}

.cabecalho_links {
    font-family: var(--font-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 8% 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo {
    font-size: 36px;
    font-family: var(--font-primaria);
}

.title-des {
    color: var(--cor-terciaria);
}

.paragrafo {
    font-size: 24px;
    font-family: var(--font-secundaria);
}

.botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 24px;

}

.links {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}

.links:hover {
    background-color: var(--cor-hover);
    padding: 3%;
}

.rodape {
    padding: 18px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 20px;
    font-weight: 400;
}