@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #000000;
    color: white;
}

.cabecalho {
    padding: 2% 0% 0% 18%;
}

.cabecalho_menu {
    display: flex;
    gap: 80px;
}

.cabecalho_links {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}

.apresentacao {
    padding: 8% 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.title-des {
    color: #EABE6C;
}

.paragrafo {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.subtitulo {
    font-family: 'Krona One' , sans-serif;
    font-weight: 400;
    font-size: 24px;

}

.links {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: "Montserrat", sans-serif;
}

.links:hover {
    background-color: #272727;
    padding: 3%;
}

.rodape {
    padding: 18px;
    color: #000000;
    background-color: #22D4FD;
    text-align: center;
    font-family: 'Montserrat' , sans-serif;
    font-size: 20px;
    font-weight: 400;
}


.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: #22D4FD;
}
